<table class="w-full whitespace-nowrap">
    <thead>
      <tr class="h-16 w-full text-sm leading-none text-gray-800">
        <th class="font-normal text-left pl-4">Column 1</th>
        <th class="font-normal text-left pl-12">Column 2</th>
        <th class="font-normal text-left pl-12">Column 3</th>
        <th class="font-normal text-left pl-20">Column 4</th>
        <th class="font-normal text-left pl-20">Column 5</th>
      </tr>
    </thead>
    <tbody class="w-full">
      <tr *ngFor="let row of tableData" class="h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
        <td class="pl-4">{{ row.column1 }}</td>
        <td class="pl-12">{{ row.column2 }}</td>
        <td class="pl-12">{{ row.column3 }}</td>
        <td class="pl-20">{{ row.column4 }}</td>
        <td class="pl-20">{{ row.column5 }}</td>
      </tr>
    </tbody>
  </table>
  